#Home {
  background-image: url(./assets/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  #About {
    background-image: url(./assets/about-me-picture-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }
}

#Portfolio .bar {
  height: 1px;
}

#Contact {
  background-image: url(./assets/contact_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.faTimes {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  z-index: 1;
}

li,
.Link {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.link:hover {
  color: rgb(213, 213, 213);
}

.link:active {
  color: #0A4EFB;
}


ul.thumbs,
.carousel-status,
.carousel .thumbs-wrapper {
  display: none !important;
}

.personCard {
  width: 80px !important;
  height: 80px !important;
  border: 1px solid #0A4EFB !important;
  position: absolute;
  top: -10%;
  left: 50%;
}

@media (min-width: 768px) {
  .personCard {
    width: 120px !important;
    height: 120px !important;
    border: 1px solid #0A4EFB !important;
    position: absolute;
    top: -16%;
    left: 50%;
  }
}

.control-dots {
  position: absolute !important;
  height: 20px !important;
  margin-bottom: 20px !important;
}

button .control-arrow {
  width: 10px;
  height: 10px;
  border-radius: 100% !important;
  background-color: red;
}
