
#Home {
  background-image: url(./assets/background1.AVIF);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  #About {
    background-image: url(./assets/about-me-picture-background.AVIF);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#Portfolio #Footer,
.bar {
  height: 1px;
}

#Contact {
  background-image: url(./assets/contact_background.AVIF);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 600px) {
  #Home {
    background-image: url(./assets/background1.AVIF);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #About {
    background-image: url(./assets/about-me-picture-background.AVIF);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #Contact {
    background-image: url(./assets/contact_background.AVIF);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.faTimes {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  z-index: 1;
}

li,
.Link {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.link:hover {
  color: rgb(213, 213, 213);
}

.link:active {
  color: #0a4efb;
}

ul.thumbs,
.carousel-status,
.carousel .thumbs-wrapper {
  display: none !important;
}

.personCard {
  width: 100px !important;
  height: 100px !important;
}

@media (max-width: 768px) {
  .personCard {
    width: 60px !important;
    height: 60px !important;
  }
}

.control-dots {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-dots .dot {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-slider .control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute !important;
  top: 95% !important;
}

.submitBtn button:hover .wrapper-1 {
  animation: flying-from-left-to-right 0.6s ease-in-out infinite alternate;
}

button:hover img {
  transform: translateX(2rem) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5rem);
}

button:active {
  transform: scale(0.95);
}

@keyframes flying-from-left-to-right {
  from {
    transform: translateY(0.1rem);
  }

  to {
    transform: translateY(-0.1em);
  }
}
